<link href="css/style.css" rel="stylesheet">

<section id="hero-other">
</section>

<main id="main">

    <!-- ====== Breadcrumbs ====== -->

    <!-- Breadcrumbs -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">
            <ol>
                <li><a href="/">Home</a></li>
                <li>News</li>
            </ol>
            <h2> News</h2>
        </div>
    </section>
    <!-- End Breadcrumbs -->


    <!-- ====== Blog Section ====== -->
    <section id="blog" class="blog">
        <div class="container" data-aos="fade-up">

            <div class="row gy-4 posts-list">

                {{#each news as |row index| }}
                <div class="col-xl-12 col-md-6" style="padding-top: 50px;">
                    <article>
                        <div class="text-center" style="padding-bottom: 30px;">
                            <p class="post-category">{{title}}</p>
                        </div>

                        <div class="container" style="height: auto;">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="card mb-3" style="border: 0; border-radius:50%">
                                        {{#if imageBase64}}
                                        <img src='data:{{contentType}};base64,{{imageBase64}}'
                                            class="news-image img-fluid" style="min-height: 200px;">
                                        {{else}}
                                        <img src="images/no_image.png" class="img-thumbnail img-fluid"
                                            style="min-height: 200px;">
                                        {{/if}}
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="card-body title">
                                        <a href="/news/{{_id}}">
                                            <p class="card-text">{{stripTags (truncate row.body 200)}}</p>
                                        </a>
                                    </div>

                                    <div class="card-footer text-center" style="padding-top: 100px;">
                                        <span>{{formatDate news.createdAt 'MMMM Do YYYY, h:mm:ss a'}}</span>
                                    </div>

                                    <div class="card-footer text-center"
                                        style="padding-bottom: 30px;  padding-top:50px;">
                                        <a href="mailto: niletech1513@gmail.com">
                                            <img src="{{user.image}}" alt="Story image of{{user.firstName}}"
                                                class="img-fluid post-author-img flex-shrink-0"
                                                style=" border-radius:50%;">
                                        </a>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="d-flex justify-content-center">
                            <div class="card-footer text-center">
                                <a href="/news/{{_id}}" class="btn btn-secondary">Read More</a>
                            </div>
                        </div>

                    </article>
                </div>
                {{else}}
                <p class="col-12 text-center">No News to display</p>
                {{/each}}
                <!-- End post list item -->

            </div>

            <!-- End blog posts list -->

        </div>
    </section><!-- End Blog Section -->

</main>
<!-- End #main -->